$footer-font-color: #f0f9ff;
$footer-bg-color: #282d32;

footer {
  &.site-footer {
    color: $footer-font-color;
    background-color: $footer-bg-color;
  }

  h4, h5, h6 {
    color: $footer-font-color;
  }

  p {
    opacity:0.6;
    margin-bottom:0;
  }

  a.btn {
    border-color: $footer-font-color;
    color: $footer-font-color;
    border-radius: 50px;
    
    &:hover {
      color: $footer-bg-color;
      background-color: $footer-font-color;
    }
  }

  .sponsors, .sponsors-diversity, .sponsors-support {
    img {
      max-height: 100px;
      filter: brightness(0) invert(1);
      opacity: .35;
    }
  }

  .sponsors-diversity img {
    max-height: 75px;
  }

  .sponsors-support img {
    max-height: 50px;
  }

  .made-by img {
    max-height: 75px;
    max-width: 130px;
    margin-bottom: 0.5em;
  }

  .item.social {
    text-align:center;
    @media (max-width:991px) {
      margin-top:20px;
    }

    a {
      font-size:20px;
      width:36px;
      height:36px;
      line-height:36px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      box-shadow:0 0 0 1px rgba(255,255,255,0.4);
      color:#fff;
      opacity:0.75;
    }
  }
}
