<footer id="colophon" class="site-footer">
  <div class="wrap">
    
    <div class="container grey-box">
      {% if site.data.sponsors %}
      <div class="row sponsors mt-5">
          <div class="col-12 item text-center">
            <h4 class="elementor-heading-title elementor-size-default">patrocinadores</h4>
            {% for sponsor in site.data.sponsors %}
              <a href="{{sponsor.url}}" target="_blank"><img class="img-fluid" src="{{sponsor.logo}}" title="{{sponsor.name}}" alt="{{sponsor.name}}"></a>
            {% endfor %}
          </div>
      </div>
      <div class="row mt-1">
        <div class="col-12 text-center">
          <a href="sponsorship" class="btn btn-lg" role="button">
            Seja um patrocinador
          </a>
        </div>
      </div>
      {% endif %}
      <div class="row mt-5 mb-3">
        <div class="col-md-7">
          <h4 class="elementor-heading-title elementor-size-default">Sobre a Agile Brazil</h4>
          <p>{{site.description}}</p>
        </div>
        <div class="col-md-2 text-center made-by">
          <h4 class="elementor-heading-title elementor-size-default">Apoio</h4>
          <div class="col">
            <div>
              <a href="http://criativaeventos.net" target="_blank">
                <img class="img-fluid criativa" src="assets/images/logo-criativa.png" title="Criativa Soluções em Eventos" alt="Criativa Soluções em Eventos">
              </a>
            </div>
            <div>
              <a href="https://www.agilealliance.org/agilealliancebrazil" target="_blank">
                <img class="img-fluid" src="assets/images/logo-agile-alliance.png" title="Agile Alliance" alt="Agile Alliance">
              </a>
            </div>
          </div>              
        </div>
        <div class="col-md-3 text-center">
          <div class="row">
            <div class="col-12">
              <h4 class="elementor-heading-title elementor-size-default mb-0">Fale com a Agile Brazil</h4>
              <a href="mailto:contato@agilebrazil.com">contato@agilebrazil.com</a><br><a href="mailto:patrocinios@agilebrazil.com">patrocinios@agilebrazil.com</a>
            </div>
            <div class="col-12 mt-4">
              <h4 class="elementor-heading-title elementor-size-default">Siga a Agile Brazil</h4>
              <div class="col item social">
                <a href="https://twitter.com/agilebrazil" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/agilebrazil" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/agilebrazil/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/AgileBrazil" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://vimeo.com/agilebrazil" target="_blank"><i class="fab fa-vimeo"></i></a>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div> 

  </div>
</footer>
