<footer id="colophon" class="site-footer">
  <div class="wrap">

    <div class="grey-box">
      <div class="container">
        <div class="footer-sponsors">
          <h4 class="elementor-heading-title elementor-size-default">patrocinios</h4>
          <div class="elementor-element animated-fast elementor-column elementor-col-100 elementor-top-column animated opal-move-up" data-id="c50fefd" data-element_type="column" data-settings="{ 'animation': 'opal-move-up', 'animation_delay' :150}">
            <div class="elementor-column-wrap  elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div class="elementor-element elementor-element-824e4e6 elementor-widget elementor-widget-opal-brand"
                  data-id="824e4e6" data-element_type="widget" data-widget_type="opal-brand.default">
                  <div class="elementor-widget-container">
                    <div class="elementor-brands">
                      <div class="elementor-brand-wrapper">
                        <div class="row" data-elementor-columns="5" data-elementor-columns-tablet="3"
                          data-elementor-columns-mobile="1">
                          {% for sponsor in site.data.sponsors %}
                            <div class="elementor-brand-item column-item">
                              <div class="elementor-brand-image">
                                <a href="{{sponsor.url}}" title="{{sponsor.name}}" target="_blank"><img class="lazyloaded" src="{{sponsor.logo}}" data-src="{{sponsor.logo}}" title="{{sponsor.name}}" alt="{{sponsor.name}}"></a>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-agile-alliance">
          <h4 class="elementor-heading-title elementor-size-default">Agile Alliance</h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div data-elementor-type="post" data-elementor-id="854" class="elementor elementor-854"
        data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
          
            <section
              class="elementor-element elementor-element-80ca209 elementor-section-stretched elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="80ca209" data-element_type="section"
              data-settings="{'stretch_section':'section-stretched'}">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-85fcdc1 elementor-column elementor-col-100 elementor-top-column"
                    data-id="85fcdc1" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-9ef4928 elementor-widget elementor-widget-opal-site-logo elementor-widget-image"
                          data-id="9ef4928" data-element_type="widget" data-widget_type="opal-site-logo.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-image logo">
                              <a href="./"> 
                                <img src='assets/images/logo.png' data-src='assets/images/logo.png' class="lazyload attachment-full size-full" alt="" loading="lazy" /> 
                              </a>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-89635d4 elementor-nav-menu__align-center elementor-nav-menu--indicator-none elementor-nav-menu-mobile__align-justify elementor-widget elementor-widget-opal-nav-menu"
                          data-id="89635d4" data-element_type="widget"
                          data-settings="{'layout':'horizontal'}"
                          data-widget_type="opal-nav-menu.default">
                          <div class="elementor-widget-container">
                            <nav data-subMenusMinWidth="50" data-subMenusMaxWidth="500"
                              class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                              <ul id="menu-menu-footer-1" class="elementor-nav-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-799">
                                  <a href="#" class="elementor-item">about</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-800">
                                  <a href="#" class="elementor-item">sponsors</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-801">
                                  <a href="#" class="elementor-item">venue</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-802">
                                  <a href="#" class="elementor-item">blog</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-803">
                                  <a href="#" class="elementor-item">contact</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-3aac9b9 elementor-widget__width-inherit elementor-hidden-phone elementor-widget elementor-widget-divider"
                          data-id="3aac9b9" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider"> <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-11648ae elementor-shape-circle elementor-widget__width-auto elementor-widget elementor-widget-social-icons"
                          data-id="11648ae" data-element_type="widget" data-widget_type="social-icons.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-social-icons-wrapper"> <a href="#"
                                class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-fc9c15d"
                                target="_blank"> <span class="elementor-screen-only">Facebook-f</span> <i
                                  class="fab fa-facebook-f"></i> </a> <a href="#"
                                class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-f41a429"
                                target="_blank"> <span class="elementor-screen-only">Twitter</span> <i
                                  class="fab fa-twitter"></i> </a> <a href="#"
                                class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-a81b5df"
                                target="_blank"> <span class="elementor-screen-only">Youtube</span> <i
                                  class="fab fa-youtube"></i> </a> <a href="#"
                                class="elementor-icon elementor-social-icon elementor-social-icon-google-plus-g elementor-repeater-item-b2cc977"
                                target="_blank"> <span class="elementor-screen-only">Google-plus-g</span> <i
                                  class="fab fa-google-plus-g"></i> </a> <a href="#"
                                class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-80ad0a1"
                                target="_blank"> <span class="elementor-screen-only">Instagram</span> <i
                                  class="fab fa-instagram"></i> </a></div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-f55ee82 elementor-widget elementor-widget-text-editor"
                          data-id="f55ee82" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
                              <p>Copyright © 2019. All Rights Reserved.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
