
<section
  class="elementor-element elementor-element-753bdbe elementor-section-stretched elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
  data-id="753bdbe" data-element_type="section"
  data-settings="{'stretch_section':'section-stretched','background_background':'classic'}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div
        class="elementor-element elementor-element-a053468 elementor-column elementor-col-33 elementor-top-column"
        data-id="a053468" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-4cac539 elementor-widget elementor-widget-opal-site-logo elementor-widget-image"
              data-id="4cac539" data-element_type="widget" data-widget_type="opal-site-logo.default">
              <div class="elementor-widget-container">
                <div class="elementor-image logo"> 
                  <a href="./"> 
                    <img src='assets/images/logo-dark.png' data-src='assets/images/logo-dark.png' class="lazyload attachment-full size-full" alt="" loading="lazy" /> 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-000c47d elementor-column elementor-col-33 elementor-top-column"
        data-id="000c47d" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-8b8cdf7 elementor-nav-menu--dropdown-mobile elementor-nav-menu__align-center elementor-nav-menu-tablet__align-left elementor-menu-toggle__align-right elementor-nav-menu--indicator-angle elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-opal-nav-menu"
              data-id="8b8cdf7" data-element_type="widget"
              data-settings="{'layout':'horizontal','toggle':'burger'}"
              data-widget_type="opal-nav-menu.default">
              <div class="elementor-widget-container">
                <nav
                  class="elementor-nav-menu--mobile-enable elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none"
                  data-subMenusMinWidth="240" data-subMenusMaxWidth="500">
                  <ul id="menu-main-menu" class="elementor-nav-menu">
                    {% include nav-items.html %}
                  </ul>
                </nav>
                <div class="elementor-menu-toggle" data-target="#menu-8b8cdf7"> <i class="eicon"
                    aria-hidden="true"></i> <span class="menu-toggle-title"></span></div>
                <nav id="menu-8b8cdf7" class="elementor-nav-menu--canvas mp-menu">
                  <ul id="menu-canvas-2-8b8cdf7" class="nav-menu--canvas">
                    {% include nav-items.html %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-6dbe381 elementor-column elementor-col-33 elementor-top-column"
        data-id="6dbe381" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-7332fd3 elementor-align-right elementor-mobile-align-justify elementor-button-primary_gradient elementor-widget elementor-widget-button"
              data-id="7332fd3" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper ">
                  <a href="inscricoes" class="elementor-button-link elementor-button elementor-size-md bg-gradient">
                    <span class="elementor-button-content-wrapper"><span class="elementor-button-text">Inscreva-se</span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
