
<section
  class="elementor-element elementor-element-753bdbe elementor-section-stretched elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
  data-id="753bdbe" data-element_type="section"
  data-settings="{'stretch_section':'section-stretched','background_background':'classic'}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div
        class="elementor-element elementor-element-a053468 elementor-column elementor-col-33 elementor-top-column"
        data-id="a053468" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-4cac539 elementor-widget elementor-widget-opal-site-logo elementor-widget-image"
              data-id="4cac539" data-element_type="widget" data-widget_type="opal-site-logo.default">
              <div class="elementor-widget-container">
                <div class="elementor-image logo"> 
                  <a href="./"> 
                    <img src='assets/images/logo.png' data-src='assets/images/logo.png' class="lazyload attachment-full size-full" alt="" loading="lazy" /> 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-000c47d elementor-column elementor-col-33 elementor-top-column"
        data-id="000c47d" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-8b8cdf7 elementor-nav-menu--dropdown-mobile elementor-nav-menu__align-center elementor-nav-menu-tablet__align-left elementor-menu-toggle__align-right elementor-nav-menu--indicator-angle elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-opal-nav-menu"
              data-id="8b8cdf7" data-element_type="widget"
              data-settings="{'layout':'horizontal','toggle':'burger'}"
              data-widget_type="opal-nav-menu.default">
              <div class="elementor-widget-container">
                <nav
                  class="elementor-nav-menu--mobile-enable elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none"
                  data-subMenusMinWidth="240" data-subMenusMaxWidth="500">
                  <ul id="menu-main-menu" class="elementor-nav-menu">
                    {% include nav-items.html %}
                  </ul>
                </nav>
                <div class="elementor-menu-toggle" data-target="#menu-8b8cdf7"> <i class="eicon"
                    aria-hidden="true"></i> <span class="menu-toggle-title"></span></div>
                <nav id="menu-8b8cdf7" class="elementor-nav-menu--canvas mp-menu">
                  <ul id="menu-canvas-2-8b8cdf7" class="nav-menu--canvas">
                    {% include nav-items.html %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-6dbe381 elementor-column elementor-col-33 elementor-top-column"
        data-id="6dbe381" data-element_type="column">
        <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-7332fd3 elementor-align-right elementor-mobile-align-justify elementor-button-primary_gradient elementor-widget elementor-widget-button"
              data-id="7332fd3" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper opal-button-contact7"> <a
                    href="#opal-contactform-popup-7332fd3"
                    class="elementor-button-link elementor-button elementor-size-md"
                    data-effect="mfp-zoom-in"> <span class="elementor-button-content-wrapper"> <span
                        class="elementor-button-text">get tickets</span> </span></a></div>
                <div id="opal-contactform-popup-7332fd3" class="mfp-hide contactform-content">
                  <div class="heading-form">
                    <div class="form-title">Contact form 1</div>
                  </div>
                  <div class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/spker/#wpcf7-f4-o1" method="post" class="wpcf7-form"
                      novalidate="novalidate">
                      <div style="display: none;"> <input type="hidden" name="_wpcf7" value="4" />
                        <input type="hidden" name="_wpcf7_version" value="5.1.3" /> <input type="hidden"
                          name="_wpcf7_locale" value="en_US" /> <input type="hidden"
                          name="_wpcf7_unit_tag" value="wpcf7-f4-o1" /> <input type="hidden"
                          name="_wpcf7_container_post" value="0" /></div>
                      <div class="mb-4"> <span class="wpcf7-form-control-wrap text-338"><input
                            type="text" name="text-338" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            id="form-name" aria-required="true" aria-invalid="false"
                            placeholder="Your Name" /></span></div>
                      <div class="mb-4"> <span class="wpcf7-form-control-wrap email-105"><input
                            type="email" name="email-105" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                            id="form-email" aria-required="true" aria-invalid="false"
                            placeholder="Email" /></span></div>
                      <div class="mb-4"> <span class="wpcf7-form-control-wrap text-755"><input
                            type="text" name="text-755" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true" aria-invalid="false"
                            placeholder="Phone Number" /></span></div>
                      <div class="mb-4"> <span class="wpcf7-form-control-wrap menu-395"><select
                            name="menu-395" class="wpcf7-form-control wpcf7-select"
                            aria-invalid="false">
                            <option value="Ticket 1">Ticket 1</option>
                            <option value="Ticket 2">Ticket 2</option>
                            <option value="Ticket 3">Ticket 3</option>
                            <option value="Ticket 4">Ticket 4</option>
                          </select></span></div>
                      <p><button type="submit" value="Submit"><span>register now</span></button></p>
                      <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
