<section class="about-section intro">
  <div class="elementor-widget-heading elementor-widget-container">
    <div class="heading-decor"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 35.3 16" xml:space="preserve">
        <g class="nc-icon-wrapper" stroke="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7 0C1.2 0 0 1.2 0 2.7c0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C5.3 1.2 4.1 0 2.7 0zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7C0 14.8 1.2 16 2.7 16c1.5 0 2.7-1.2 2.7-2.7-.1-1.4-1.3-2.6-2.7-2.6zM12.7 0C11.2 0 10 1.2 10 2.7c0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7zM22.7 0C21.2 0 20 1.2 20 2.7c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7C25.3 1.2 24.1 0 22.7 0zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7c-.1-1.5-1.3-2.7-2.7-2.7zm10-5.4c1.5 0 2.7-1.2 2.7-2.7 0-1.5-1.2-2.7-2.7-2.7C31.2 0 30 1.2 30 2.7c0 1.4 1.2 2.6 2.7 2.6zm0 5.4c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7z">
          </path>
        </g>
      </svg></div>
    <h2 class="elementor-heading-title elementor-size-default">Agile Brazil</h2>
    <!-- OPCAO 1 -->
    <p class="mt-4">A <b>Agile Brazil</b> é a mais tradicional conferência sobre métodos ágeis. Historicamente, o evento vem reunindo perto de oitocentos participantes do cenário brasileiro de tecnologia e diversos palestrantes de renome nacional e internacional. O evento não possui fins lucrativos e é organizado por especialistas no assunto de diversas partes do Brasil, que compartilham o objetivo de incentivar e disseminar a cultura Ágil por todo o país.</p>
    <p>A <b>Agile Brazil</b> é a conferência oficial da Agile Alliance Brazil e é construída, ano após ano, por agilistas brasileiros que voluntariam seu tempo e trabalho para montar um evento de alto nível, diverso e representativo da agilidade nacional. </p>
    <!-- OPCAO 2 
      <p class="mt-4">O evento não possui fins lucrativos. É organizado por agilistas brasileiros, de diversas partes do país, que compartilham o objetivo de incentivar e disseminar a cultura Ágil, e voluntariam seu tempo e trabalho para montar um evento de alto nível, diverso e representativo da agilidade nacional. A Agile Alliance Brazil entra com o apoio institucional e consta como a organizadora oficial da conferência. </p>
    -->
    <p>Os Métodos Ágeis vêm sendo adotados por empresas dos mais diferentes tamanhos e segmentos. Agências e órgãos de Governo também têm dedicado esforços para adotar e cultivar os princípios e valores que fundamentam a cultura Ágil.</p>
    <p>Cerca de 90 palestrantes por ano também trazem valor ao evento, compartilhando suas experiências, conhecimento e percepções. A experiência da conferência não poderia estar completa sem as empresas patrocinadoras, que historicamente trazem oportunidades para participantes, enquanto levam novos leads de contratação, prospecções de novos negócios e um fortalecimento da associação entre sua marca e a agilidade.</p>
    <div class="row mt-4 aa-box">
      <div class="col-sm-3 text-center">
        <img class="img-fluid" src="assets/images/logo-agile-alliance-dark.png" title="Agile Alliance Brazil" alt="Agile Alliance Brazil">
      </div>
      <div class="col-sm-9">
        <h4 class="text-center">Organização</h4>
        <p><b>Agile Brazil</b> é uma conferência criada pela comunidade Ágil brasileira e atualmente apoiada pela <b>Agile Alliance Brazil.</b> Fundada em 2013, a Agile Alliance Brazil é uma instituição sem fins lucrativos e comerciais, que nasceu pela necessidade de aperfeiçoarmos a organização da conferência e também do anseio de suportar de maneira efetiva o crescimento da comunidade ágil brasileira.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-section current">
  <div class="elementor-widget-heading elementor-widget-container">
    <div class="heading-decor"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 35.3 16" xml:space="preserve">
        <g class="nc-icon-wrapper" stroke="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7 0C1.2 0 0 1.2 0 2.7c0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C5.3 1.2 4.1 0 2.7 0zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7C0 14.8 1.2 16 2.7 16c1.5 0 2.7-1.2 2.7-2.7-.1-1.4-1.3-2.6-2.7-2.6zM12.7 0C11.2 0 10 1.2 10 2.7c0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7zM22.7 0C21.2 0 20 1.2 20 2.7c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7C25.3 1.2 24.1 0 22.7 0zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7c-.1-1.5-1.3-2.7-2.7-2.7zm10-5.4c1.5 0 2.7-1.2 2.7-2.7 0-1.5-1.2-2.7-2.7-2.7C31.2 0 30 1.2 30 2.7c0 1.4 1.2 2.6 2.7 2.6zm0 5.4c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7z">
          </path>
        </g>
      </svg></div>
    <h2 class="elementor-heading-title elementor-size-default">AGILE BRAZIL 2021</h2>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 p-5">
      <div class="elementor-element elementor-element-22ca21e opal-clip-path elementor-widget elementor-widget-image" data-id="22ca21e" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
          <div class="elementor-image">
            <img width="630" height="630" src="https://demo2wpopal.b-cdn.net/spker/wp-content/uploads/2019/07/aboutus_1.jpg" data-src="https://demo2wpopal.b-cdn.net/spker/wp-content/uploads/2019/07/aboutus_1.jpg" class="elementor-animation-float attachment-full size-full ls-is-cached lazyloaded" alt="" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-md-4">
      <h4 class="text-center"><span style="color: #43AC4B;">05 a 09 de outubro</span>, online</h4>
      <p>Nós, da <b>Agile Brazil</b>, estamos acompanhando todos os acontecimentos que estão permeando o mundo e ainda mais o nosso país. Sabemos dos impactos gerados na nossa saúde e na economia, mediante ao atual contexto, tomamos algumas decisões.</p>

      <p>Por sermos uma conferência feita <b>da comunidade para comunidade</b>, entendemos que, ao construímos essa edição de forma presencial, estaremos expondo todas as pessoas participantes ao possível contato da transmissão com o vírus.</p>
        
      <p>Por isso,  adiamos mais uma vez a edição presencial da conferência em Porto Alegre para outubro de 2022, em respeito a você que nos acompanha ao longo desses mais de 10 anos.</p>
        
      <p>Nós também anunciamos com grande entusiasmo e coração cheio que realizaremos mais uma vez a nossa conferência de forma <b>online neste ano 2021</b>, assim como em 2020, mantendo nossa proximidade a toda comunidade brasileira.</p>
      <!--p>A cidade de Porto Alegre, no estado de Rio Grande do Sul, sediará a 11ª edição da Agile Brazil, retornando após ter sediado a edição de 2010. Porto Alegre reúne uma comunidade muito ativa de métodos ágeis, tendo diversas comunidades de prática. Destaque para Meetup NMAF (Negociação, Metodologia Ágil e Facilitação) e GUMA (Grupo de Usuários de Métodos Ágeis da Sucesu-RS), sendo esta última criada em 2004 e considerada uma das comunidades de prática mais antigas do país. O evento em Porto Alegre entra em um momento importante onde os métodos ágeis estão cada vez mais presentes em organizações de todas as áreas de diferentes tamanhos. Esperamos nesta edição, um público de mais de 1000 pessoas que agregue à comunidade e à indústria de software do país, em uma grande troca de experiências entre todos os participantes.</p-->
    </div>
  </div>
</section>
