<section
    class="home-program"
    data-id="4602381" data-element_type="section">

    <div class="elementor-widget-heading elementor-widget-container">
        <div class="heading-decor">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 35.3 16" xml:space="preserve">
                <g class="nc-icon-wrapper" stroke="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7 0C1.2 0 0 1.2 0 2.7c0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C5.3 1.2 4.1 0 2.7 0zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7C0 14.8 1.2 16 2.7 16c1.5 0 2.7-1.2 2.7-2.7-.1-1.4-1.3-2.6-2.7-2.6zM12.7 0C11.2 0 10 1.2 10 2.7c0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7zM22.7 0C21.2 0 20 1.2 20 2.7c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7C25.3 1.2 24.1 0 22.7 0zm0 10.7c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7c-.1-1.5-1.3-2.7-2.7-2.7zm10-5.4c1.5 0 2.7-1.2 2.7-2.7 0-1.5-1.2-2.7-2.7-2.7C31.2 0 30 1.2 30 2.7c0 1.4 1.2 2.6 2.7 2.6zm0 5.4c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7-.1-1.5-1.3-2.7-2.7-2.7z">
                    </path>
                </g>
            </svg>
        </div>

        <h2 class="elementor-heading-title elementor-size-default">Destaques da programação</h2>
    </div>

    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-4a7586e animated-fast elementor-column elementor-col-50 elementor-top-column animated opal-move-up"
                data-id="4a7586e" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;opal-move-up&quot;}">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-widget-wrap">
                        <section
                            class="elementor-element elementor-element-f402cb0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                            data-id="f402cb0" data-element_type="section"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-17ecf1c elementor-column elementor-col-100 elementor-inner-column"
                                        data-id="17ecf1c" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-ee3c2c4 elementor-mobile-align-center elementor-widget elementor-widget-heading"
                                                    data-id="ee3c2c4" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="program-callout elementor-heading-title elementor-size-default">Keynotes convidados e palestrantes da comunidade!</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-3dfe2f9 elementor-widget elementor-widget-text-editor"
                                                    data-id="3dfe2f9" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>A programação será liberada incrementalmente. Nos acompanhe aqui ou nas mídias sociais!</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--div class="elementor-element elementor-element-82f475f elementor-mobile-align-center elementor-align-justify elementor-button-primary_gradient elementor-widget elementor-widget-button"
                                                    data-id="82f475f" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper"> <a href="#"
                                                                class="elementor-button-link elementor-button elementor-size-md">
                                                                <span class="elementor-button-content-wrapper"> <span
                                                                        class="elementor-button-text">get tickets</span>
                                                                </span></a></div>
                                                    </div>
                                                </div-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-09b622e animated-fast elementor-column elementor-col-50 elementor-top-column animated opal-move-up"
                data-id="09b622e" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;opal-move-up&quot;,&quot;animation_delay&quot;:150}">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-9cb27b3 elementor-widget elementor-widget-opal-speakers"
                            data-id="9cb27b3" data-element_type="widget" data-widget_type="opal-speakers.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-speaker-wrapper speaker-style-3">
                                    <div class="row" data-elementor-columns="3" data-elementor-columns-tablet="2"
                                        data-elementor-columns-mobile="1">
                                        {% for keynote in site.data.keynotes %}
                                        <article class="column-item">
                                            <div class="speaker-item">
                                                <div class="speaker-image"> <img width="600" height="660"
                                                        src="{{keynote.photo}}"
                                                        data-src="{{keynote.photo}}"
                                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image lazyloaded"
                                                        alt="" loading="lazy"
                                                        data-srcset="{{keynote.photo}} 600w, {{keynote.photo}} 273w, {{keynote.photo}} 400w"
                                                        data-sizes="(max-width: 600px) 100vw, 600px"
                                                        sizes="(max-width: 600px) 100vw, 600px"
                                                        srcset="{{keynote.photo}} 600w, {{keynote.photo}} 273w, {{keynote.photo}} 400w">
                                                </div>
                                                <div class="speaker-details">
                                                    <h3 class="speaker-name">{{keynote.name}}</h3>
                                                    <div class="speaker-job">{{keynote.legend}}</div>
                                                </div>
                                            </div>
                                        </article>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>